@model List<project1.Models.Roles>


@{
    ViewBag.Title = "Create";
}

<h2>Create new user</h2>
<div>
    <h2>Usual Way</h2>
    <form action="/User/Create" method="post" class="form">
        <div class="form-group">
            <label for="Name">Name:</label>
            <input type="text" name="Name" id="Name" class="form-control" />
        </div>

        <div class="form-group">
            <label for="Email">Email:</label>
            <input type="text" name="Email" id="Email" class="form-control" />
        </div>

        <div>
            <select name="description" id="roles" class="form-control" required>
                <option>Seleccione el Rol</option>
                @foreach (var role in Model)
                {
                    <option>@role.Description</option>
                }
            </select>
        </div>

        <button style="margin-top:15px" type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
